/* giving the body a dark background to better see the bright colored boxes */
.div-panel {
  padding: 25px;
  box-sizing: border-box;
} 

.navbar-default .navbar-brand {
  color: white;
  background-color: turquoise;
  
}